
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isAdmin() {
      return isSignedIn() && exists(/databases/$(database)/documents/roles_admin/$(request.auth.uid));
    }
    function isExisting() {
      return resource != null;
    }

    match /site/{siteId} {
      allow get, list: if true;
      allow create: if isAdmin();
      allow update, delete: if isAdmin() && isExisting();
    }

    match /expertises/{expertiseId} {
      allow get, list: if true;
      allow create: if isAdmin();
      allow update, delete: if isAdmin() && isExisting();
    }

    match /categories/{categoryId} {
      allow get, list: if true;
      allow create: if isAdmin();
      allow update, delete: if isAdmin() && isExisting();
    }

    match /projects/{projectId} {
      allow get, list: if true;
      allow create: if isAdmin();
      allow update, delete: if isAdmin() && isExisting();
    }

    match /socialLinks/{socialLinkId} {
      allow get, list: if true;
      allow create: if isAdmin();
      allow update, delete: if isAdmin() && isExisting();
    }

    match /roles_admin/{adminUid} {
      allow get: if isSignedIn() && request.auth.uid == adminUid;
      allow list, create, update, delete: if false;
    }
  }
}
